<div class="body">
	<div class="search-wrapper">
		<div class="search">


			<label> Arrival Date </label>
			<input type="date" id="arrival_date">

			<label> Departure Date </label>
			<input type="date" id="departure_date">

			<label> Departure City </label>
			<input type="text" id="departure_city" placeholder="Enter City">


			<label> Arrival City </label>
			<input type="text" id="arrival_city" placeholder="Enter City">


			<label> Booking Class </label>
			<select >
        <option hidden></option>
        <option> Economy </option>
        <option> First Class </option>
        <option> Other </option>
      </select><br><br>


			<!-- Button that starts HTTP Request -->
			<div style="text-align: center;">
				<button class="button" onclick="search()">Search</button>
			</div>
			<br>
    </div>
		</div>
		<div class="results">
			<div class="table">

				<div class="header">
					<div class="header-cell">
						Sorted By:
					</div>
					<div class="header-cell">
						Departure
					</div>
					<div class="header-cell">
						Duration
					</div>
					<div class="header-cell">
						Arrival
					</div>
					<div class="header-cell">
						Price
					</div>
					<div class="header-cell">

					</div>
				</div>
				<div class="table-body">
					<div class="resp-table-row">

						<div class="table-body-cell">
							<div class="pull-left airline-info">
								<div class="pull-left">
									<span class=" "><span class="arln-logo logo1"
                    style="background-image: url(&quot;https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=5&quot;);"></span></span>
								</div>
								<div class="pull-left airways-info-sect">
									<p><span class="airways-name ">IndiGo</span></p>
									<p class="fli-code">6E-2162</p>
								</div>
							</div>
						</div>
						<div class="table-body-cell">
							<div class="fli-time-section pull-left">
								<div class="time">05:00</div>
								<p class="city">New Delhi</p>
							</div>
						</div>
						<div class="table-body-cell">
							<div class="pull-left">
								<p class="fli-duration"><strong>06</strong> hrs <strong>35</strong> mins</p>
							</div>
						</div>
						<div class="table-body-cell">
							<div class="fli-time-section pull-left">
								<div class="time">11:00</div>
								<p class="city">Goa</p>
							</div>
						</div>
						<div class="table-body-cell">
							<div class="pull-left">
								<p><span class="actual-price">₹ 5,103</span></p>
							</div>
						</div>
						<div class="table-body-cell">
							<div class="pull-left"><button id="bookbutton" class="ViewFareBtn">BOOK</button></div>
						</div>
					</div>
					<div class="resp-table-row">

						<div class="table-body-cell">
							<div class="pull-left airline-info">
								<div class="pull-left">
									<span class=" "><span class="arln-logo logo1"
                    style="background-image: url(&quot;https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=5&quot;);"></span></span>
								</div>
								<div class="pull-left airways-info-sect">
									<p><span class="airways-name ">IndiGo</span></p>
									<p class="fli-code">6E-2162</p>
								</div>
							</div>
						</div>
						<div class="table-body-cell">
							<div class="fli-time-section pull-left">
								<div class="time">05:00</div>
								<p class="city">New Delhi</p>
							</div>
						</div>
						<div class="table-body-cell">
							<div class="pull-left">
								<p class="fli-duration"><strong>06</strong> hrs <strong>35</strong> mins</p>
							</div>
						</div>
						<div class="table-body-cell">
							<div class="fli-time-section pull-left">
								<div class="time">11:00</div>
								<p class="city">Goa</p>
							</div>
						</div>
						<div class="table-body-cell">
							<div class="pull-left">
								<p><span class="actual-price">₹ 5,103</span></p>
							</div>
						</div>
						<div class="table-body-cell">
							<div class="pull-left"><button id="bookbutton" class="ViewFareBtn">BOOK</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>